.container{
  background-color: rgb(42, 39, 39);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

h2{
  color: rgb(9, 125, 28);
  text-align: center;
}

li{
  list-style: none;
  color: #fff;
  cursor: pointer;
}

h3, p {
  color: #fff;
}

ul{
display: flex;
flex-direction: column;
}

.current_item{
  border: 2px solid rgb(249, 218, 44);
}
